@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-one: #F66742;
    --primary-two: #29A5D0;
    --primary-gradient: linear-gradient(220deg, rgba(246,103,66,1) 0%, rgba(41,165,208,1) 100%);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}


ul{
    list-style: none;
    display: flex;
    gap: 24px;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
}

.earth-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
